/* TABLE OF CONTENT */
/* 01 GENERAL */
/* 02 TYPOGRAPHY */
/* 03 NAVIGATION */
/* 04 HERO BLOCK */
/* 05 SPEAKER SECTION */
/* 05 SUBTOPICS SECTION */
/* 06 PRICES SECTION */
/* 07 SPONSORS SECTION */
/* 08 FOOTER */
/* 09 ABOUT PAGE */
/* 10 SPEAKERS' PAGES */

@media (max-width: 1024px) {

  /* GENERAL */

  html {
    font-size: 8px;
  }


  /* TYPOGRAPHY */

  h1 {
    font-size: 4.8rem;
  }

  h3 {
    font-size: 4rem;
  }

  p {
    font-size: 2.2rem;
    width: 100%;
    line-height: 140%;
  }

  .caption {
    font-size: 1.4rem;
  }


  /* NAVIGATION */

  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--black);
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-transform: uppercase;
    font-family: "acumin-pro-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
  }

  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }


  .nav-container ul li a {
    padding: 1rem 2rem;
    opacity: 0;
    color: var(--white);
    font-size: 4rem;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }

  #nav:checked+.nav-open .icon {
    display: block;
  }



  #nav:checked+.nav-open .menuWord {
    display: none;
  }

  .nav-open .icon {
    display: none;
    position: fixed;
    right: 0px;
    top: 20px;
  }



  .nav-open i {
    display: block;
    width: 32px;
    height: 2px;
    background: var(--black);
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }


  .nav-open {
    position: fixed;
    display: block;
    border: 1px solid var(--black);
    top: 2rem;
    height: fit-content;
    z-index: 9999;
    cursor: pointer;
    right: 1rem;
    font-size: 2rem;
    text-decoration: none;
    border: 1px solid var(--black);
    border-radius: 20px;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 8px !important;
    padding-bottom: 10px !important;
    font-family: 'acumin-pro';
    font-style: normal;
    font-weight: 400;
    margin: 0;
    line-height: 50%;
  }

  /* HERO BLOCK */

  .logo {
    font-size: 10rem;
  }

  .headerInfo {
    margin-top: 3rem;
  }

  .header {
    height: fit-content;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 10px 0% 5px 0%;
  }

  .headerUp {
    height: fit-content;
    background-color: unset;
    position: relative;
    width: auto;
    padding: 0;
    margin: 0;
  }

  #headerImage {
    height: 70vh;
    background-position: center;
  }


  /* SPEAKER SECTION */

  .sectionName .caption {
    font-size: 1.4rem;
    padding-top: 0.7rem;
  }


  .speakers {
    padding-bottom: 0rem;
  }

  .speakersGallery {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .speakersItem {
    width: 100%;
    margin-bottom: 6rem;
  }

  .speakersItem:last-of-type {
    width: 100%;
    margin-bottom: 2rem;
  }

  .speakersItem img {
    width: 100%;
    height: 70rem;
    object-position: 25% 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }

  .noname {
    height: 70rem;
  }

  .speakersName {
    border-top: 1px solid var(--black);
  }



  /* SUBTOPICS SECTION */

  .subtopics {
    padding-bottom: 6rem;
    padding-top: 3rem;
  }

  .accorditionAreaName {
    display: none;
  }

  .accor {
    width: 100%;
    padding-top: 4rem;
  }

  .accor .contentbox .label h3 {
    font-size: 2.8rem;
  }


  .accor .contentbox .label {
    padding: 2rem;
    padding-left: 0;
  }

  .accor .contentbox .label:before {
    font-size: 3rem;
    top: 3.5rem;
  }


  .subtopicsTitle,
  .subtopicsItem {
    width: 100%;
  }

  /* PRICES */

  .prices {
    height: 50vh;
  }

  .prices h3 {
    font-size: 3rem;
  }

  .prices .ticketsType {
    width: 70%;
  }

  .priceItem {
    align-items: flex-end;
  }

  .sponsorItem img {
    height: 25px !important;
  }


  /* SPONSORS SECTION */

  .sponsors {
    flex-direction: column;
  }

  .sponsor-logos img {
    height: 10vw;
  }

  /* FOOTER */

  footer {
    margin-top: -3px;
  }


  .footerInfo div {
    margin-bottom: 2rem;
  }

  .footerTitle {
    flex-direction: column;
  }


  /* ABOUT PAGE */

  .aboutPageContent {
    flex-direction: column;
  }

  .aboutNav,
  .aboutContent {
    width: 100%;
  }

  .aboutNav {
    margin-bottom: 10rem;
  }

  .lead {
    font-size: 3rem;
  }

  .imageCaption {
    font-size: 2rem;
  }

  .aboutTitle {
    padding-top: 1rem;
    margin-bottom: 2rem;
  }

  .aboutSection {
    margin-bottom: 6rem;
    padding-top: 1rem;
  }


  /* SPEAKERS' PAGES */

  .sHero {
    flex-direction: column-reverse !important;
    gap: 0;
  }

  .sContent {
    flex-direction: column !important;
  }

  .sPhoto img {
    width: 100% !important;
    height: 70vh;
    object-position: 25% 25%;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }

  .sPhoto {
    width: 100%;
    border-bottom: none !important;
  }

  .sTitle .buttonWhite {
    display: none;
  }

  .sTitle {
    border-top: 2px solid var(--black);
    border-bottom: none;
    width: 100%;
  }

  .sInfo {
    width: 100%;
    padding-top: 1rem;
  }

  .sLinks div {
    margin-bottom: 1rem !important;
  }

  .link {
    font-size: 1.9rem;
  }

  .buttonWhite a {
    font-size: 2rem !important;
    padding-top: 0.85rem !important;
  }


  .speakerNavigation {
    margin-top: 8rem;
    margin-bottom: 4rem;
  }

  .speakersTopic .caption {
    padding-top: 0.3rem;
    font-size: 2rem !important;
  }



}